                <style type="text/css">
                        #table_container {
                                margin: auto;
                                padding: 10px;
                                border: 1px solid #D1D1D1;
                                border-radius: 5px;
                        }
                        #header {
                                border: 1px dashed #D1D1D1;
                        }
                        #table_container th {
                                text-align: center;
                                font-size: 0.9em;
                        }
                        #table_container td {
                                font-size: 0.8em;
                                text-align: center;
                        }
                        #table_container th, #table_container td {
                                font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
                        }
                </style>
